.promo {
  background-color: #f3c1f8;
  margin: -79px 0 0 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.promo__container {
  margin: 0 auto;
  position: relative;
  width: fit-content;
}

.promo__logo {
  position: absolute;
  top: 158px;
  left: calc((730px - 320px) / 2);
  width: 320px;
  height: 320px;
}

.promo__title {
  position: relative;
  margin: 258px auto 224px auto;

  width: 730px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  /* or 116% */

  text-align: center;
  letter-spacing: -0.04em;

  color: #000000;
}

@media (max-width: 768px) {
  .promo__title {
    width: 95%;
    margin: 400px auto 344px auto;
  }

  .promo__logo {
    left: calc((95% - 320px) / 2);
    top: 300px;
  }
}

@media (max-width: 400px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    margin: 283px auto 246px auto;
  }

  .promo__logo {
    top: 216px;
  }
}
